<!DOCTYPE html> 
<html lang="en">
	
<!-- doccure/checkout.html  30 Nov 2019 04:12:16 GMT -->
<head>
		<meta charset="utf-8">
		<title>MediTalk</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		
		<!-- Favicons -->
		<link href="/assets/img/favicon.png" rel="icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="/assets/css/style.css">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="/assets/js/html5shiv.min.js"></script>
			<script src="/assets/js/respond.min.js"></script>
		<![endif]-->
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="/" class="navbar-brand logo">
							<img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="/" class="menu-logo">
								<img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li class="">
								<a href="/">Home</a>
							</li>
							<li>
								<a href="/doctor">Doctors</a>
							</li>
							<li id="log">
								<a href="/login">Login</a>
							</li>
						</ul>		 
					</div>		 
					<ul style="display: <%= logdis%>;" class="nav header-navbar-rht">
						
						<li class="nav-item">
							<a class="nav-link header-login" href="/login">login / Signup </a>
						</li>
					</ul>
					<ul style="display: <%= logpro%>;" class="nav header-navbar-rht">
						
						<!-- User Menu -->
						<li class="nav-item dropdown has-arrow logged-item">
							<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
								<span class="user-img">
									<img class="rounded-circle" src="/user_images/<%= data.image%>" width="31" alt="Darren Elder">
								</span>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<div class="user-header">
									<div class="avatar avatar-sm">
										<img src="/user_images/<%= data.image%>" alt="User Image" class="avatar-img rounded-circle">
									</div>
									<div class="user-text">
										<h6><%= data.name%></h6>
										<p class="text-muted mb-0"><%= occupation%></p>
									</div>
								</div>
								<a class="dropdown-item" href="/Profile/<%= data.name%>">Profile</a>
								<a class="dropdown-item" href="/logout">Logout</a>
							</div>
						</li>
						<!-- /User Menu -->
						
					</ul>
				</nav>
			</header>
			<!-- /Header -->
			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="/">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Checkout</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Checkout</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container">
					<h4><a href="/doctor-profile">You are Booking <%= dr%></a></h4>
					<h4 style="color: red; text-align: center; margin-top: 10px; margin-bottom: 10px;" class="card-title"><%= checkday%></h4>
					<div style="justify-content: center;" class="row">
						<div class="col-md-7 col-lg-8">
							<div class="card">
								<div class="card-body">
								
									<!-- Checkout Form -->
									<form action="/payment" method="POST">
										<!-- Personal Information -->
										<div class="info-widget">
											<input type="hidden" name="doctor" value="<%= dr%>">
											<h4 class="card-title">Personal Information</h4>
											<div style="display: <%= logpro%>;" class="row">
												<div class="col-md-12 col-sm-12">
													<div class="form-group card-label">
														<label>Name</label>
														<input class="form-control" type="text" name="name" value="<%= data.name%>" readonly>
													</div>
												</div>
												<div class="col-md-6 col-sm-12">
													<div class="form-group card-label">
														<label>Email</label>
														<input class="form-control" type="text" name="email" value="<%= data.email%>" readonly>
													</div>
												</div>
												<div class="col-md-6 col-sm-12">
													<div class="form-group card-label">
														<label>phone</label>
														<input class="form-control" type="text" name="phone_no" value="<%= data.phone_no%>" readonly>
													</div>
												</div>
												<input type="hidden" name="image" value="<%= data.image%>">
												<div class="col-md-6 col-sm-12">
													<div class="form-group card-label">
														<label>Blood Group</label>
														<input class="form-control" type="text" name="blood_group" value="<%= data.blood_group%>" readonly>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Gender<span class="text-danger">*</span></label>
														<input type="hidden" name="g_value" id="gender_value" value="<%= data.gender%>">
														<select id="gender" class="form-control" name="gender" value="<%= data.gender%>" required readonly>
															<option value="Male">Male</option>
															<option value="Female">Female</option>
														</select>
													</div>
												</div>
												<div class="col-md-6 col-sm-12">
													<div class="form-group card-label">
														<label>Age</label>
														<input class="form-control" type="text" name="age" value="<%= data.age%>" readonly>
													</div>
												</div>
												<div class="col-md-6 col-sm-12">
													<div class="form-group card-label">
														<h4 class="card-title d-flex justify-content-between">
															<span>Time</span> </h4>
														<div class="row form-row">
															<div class="col-12 col-md-4">
																<div class="form-group">
																	<label>Hours</label>
																	<select name="hour" class="form-control" required>
																		<option>-</option>
																		<option>01</option>
																		<option>02</option>  
																		<option>03</option>
																		<option>04</option>
																		<option>05</option>
																		<option>06</option>
																		<option>07</option>  
																		<option>08</option>
																		<option>09</option>
																		<option>10</option>
																		<option>11</option>
																		<option>12</option>
																	</select>
																</div> 
															</div>
															<div class="col-12 col-md-4">
																<div class="form-group">
																	<label>Minutes</label>
																	<select name="min" class="form-control" required>
																		<option>-</option>
																		<option>00</option>
																		<option>05</option>
																		<option>10</option>  
																		<option>15</option>
																		<option>20</option>
																		<option>25</option>
																		<option>30</option>
																		<option>40</option>  
																		<option>45</option>
																		<option>50</option>
																		<option>55</option>
																		<option>60</option>
																	</select>
																</div> 
															</div>
															<div class="col-12 col-md-4">
																<div class="form-group">
																	<label>  </label>
																	<select name="for" style="margin-top: 7px;" class="form-control" required>
																		<option>-</option>
																		<option>am</option>
																		<option>pm</option>
																	</select>
																</div> 
															</div>
				
														</div>
													</div>
												</div>
												<div class="col-md-6 col-sm-12">
													<div class="form-group card-label">
														<h4 class="card-title d-flex justify-content-between">
															<span>Date</span> </h4>
														<div class="row form-row">
															<div class="col-12 col-md-4">
																<div class="form-group">
																	<label>Day</label>
																	<select name="day" class="form-control" required>
																		<option>-</option>
																		<option>01</option>
																		<option>02</option>  
																		<option>03</option>
																		<option>04</option>
																		<option>05</option>
																		<option>06</option>
																		<option>07</option>  
																		<option>08</option>
																		<option>09</option>
																		<option>10</option>
																		<option>11</option>
																		<option>12</option>
																		<option>13</option>
																		<option>14</option>
																		<option>15</option>
																		<option>16</option>
																		<option>17</option>
																		<option>18</option>
																		<option>19</option>
																		<option>20</option>
																		<option>21</option>
																		<option>22</option>
																		<option>23</option>
																		<option>24</option>
																		<option>25</option>
																		<option>26</option>
																		<option>27</option>
																		<option>28</option>
																		<option>29</option>
																		<option>30</option>
																		<option>31</option>
																	</select>
																</div> 
															</div>
															<div class="col-12 col-md-4">
																<div class="form-group">
																	<label>Month</label>
																	<select name="month" class="form-control" required>
																		<option>-</option>
																		<option>01</option>
																		<option>02</option>
																		<option>03</option>  
																		<option>04</option>
																		<option>05</option>
																		<option>06</option>
																		<option>07</option>
																		<option>08</option>  
																		<option>09</option>
																		<option>10</option>
																		<option>11</option>
																		<option>12</option>
																	</select>
																</div> 
															</div>
															<div class="col-12 col-md-4">
																<div class="form-group">
																	<label>Year</label>
																	<select name="year" class="form-control" required>
																		<option>-</option>
																		<option>2021</option>
																		<option>2022</option>
																		<option>2023</option>
																		<option>2024</option>
																		<option>2025</option>
																		<option>2026</option>
																		<option>2027</option>
																		<option>2028</option>
																	</select>
																</div> 
															</div>
				
														</div>	
													</div>
												</div>
											</div>
											<div style="display: <%= logdis%>;" class="exist-customer"><%= mssg%> <a href="/login">Click here to login</a></div>
										</div>
										<!-- /Personal Information -->
										
										<div style="display: <%= logpro%>;"class="payment-widget">
										<!-- Submit Section -->
											<div class="submit-section mt-4">
												<button type="submit" class="btn btn-primary submit-btn">Confirm and Pay</button>
											</div>
											<!-- /Submit Section -->
											
										</div>
									</form>
									<!-- /Checkout Form -->
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>		
			<!-- /Page Content -->
   
			<!-- Footer -->
			<footer class="footer">
				
				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img style="width: 80%;" src="/assets/img/footer-logo.png" alt="logo">
									</div>
									<div class="footer-about-content">
										<div class="social-icon">
											<ul>
												<li>
													<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- /Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 style="margin-top: 20px;" class="footer-title">Lab Test</h2>
									<ul style="color: white;">
										<li>Labs in Lahore</li>
										<li>Labs in Karachi</li>
										<li>Labs in Islamabad</li>
										<li>Labs in Peshawar</li>
										<li>Labs in Quetta</li>
									</ul>
								</div>
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<ul style="color: white;">
										<li>Gynecologist in Lahore</li>
										<li>Gastroenterologist in Lahore</li>
										<li>Orthopedic in Lahore</li>
										<li>Neuro Physician in Lahore</li>
										<li>General Physician in Lahore</li>
										<li>Cardiologist in Lahore</li>
										<li>Psyschiatrist in Lahore</li>
										<li>Dentist in Lahore</li>
										<li>Eye Specialist in Lahore</li>
										<li>Child Specialist in Lahore</li>
										<li>ENT Specialist in Lahore</li>
										<li>Dermatologist in Lahore</li>
										<li>Urologist in Lahore</li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<ul style="color: white;">
										<li>Gynecologist in Karachi</li>
										<li>Gastroenterologist in Karachi</li>
										<li>Orthopedic in Karachi</li>
										<li>Neuro Physician in Karachi</li>
										<li>General Physician in Karachi</li>
										<li>Cardiologist in Karachi</li>
										<li>Psyschiatrist in Karachi</li>
										<li>Dentist in Karachi</li>
										<li>Eye Specialist in Karachi</li>
										<li>Child Specialist in Karachi</li>
										<li>ENT Specialist in Karachi</li>
										<li>Dermatologist in Karachi</li>
										<li>Urologist in Karachi</li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<ul style="color: white;">
										<li>Gynecologist in Islamabad</li>
										<li>Gastroenterologist in Islamabad</li>
										<li>Orthopedic in Islamabad</li>
										<li>Neuro Physician in Islamabad</li>
										<li>General Physician in Islamabad</li>
										<li>Cardiologist in Islamabad</li>
										<li>Psyschiatrist in Islamabad</li>
										<li>Dentist in Islamabad</li>
										<li>Eye Specialist in Islamabad</li>
										<li>Child Specialist in Islamabad</li>
										<li>ENT Specialist in Islamabad</li>
										<li>Dermatologist in Islamabad</li>
										<li>Urologist in Islamabad</li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container-fluid">
					
						<!-- Copyright -->
						<div class="copyright">
							<p style="text-align: center; color: white;">© 2021|All Rights Reserved By MediTalk</p>
						</div>
						<!-- /Copyright -->
						
					</div>
				</div>
				<!-- /Footer Bottom -->
				
			</footer>
			<!-- /Footer -->
		   
		</div>
		<!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="/assets/js/jquery.min.js"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="/assets/js/popper.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
        <script src="/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>
		
		<!-- Custom JS -->
		<script src="/assets/js/script.js"></script>
		<script>
			// For Gender Value
			var gender_value=document.getElementById("gender_value").value;
			selectElement('gender', gender_value)

			function selectElement(id, valueToSelect) {    
				let element = document.getElementById(id);
				element.value = valueToSelect;
			}
		</script>
	</body>

<!-- doccure/checkout.html  30 Nov 2019 04:12:16 GMT -->
</html>