<!DOCTYPE html> 
<html lang="en">
	
<!-- doccure/  30 Nov 2019 04:11:34 GMT -->
<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>MediTalk</title>
		
		<!-- Favicons -->
		<link type="image/x-icon" href="/assets/img/favicon.png" rel="icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="/assets/css/style.css">
		
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="/" class="navbar-brand logo">
							<img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="/" class="menu-logo">
								<img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li class="active">
								<a href="/">Home</a>
							</li>
							<li>
								<a href="/doctor">Doctors</a>
							</li>
							<li id="log">
								<a href="/login">Login</a>
							</li>
						</ul>		 
					</div>		 
					<ul style="display: <%= logdis%>;" class="nav header-navbar-rht">
						
						<li class="nav-item">
							<a class="nav-link header-login" href="/login">login / Signup </a>
						</li>
					</ul>
					<ul style="display: <%= logpro%>;" class="nav header-navbar-rht">
						
						<!-- User Menu -->
						<li class="nav-item dropdown has-arrow logged-item">
							<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
								<span class="user-img">
									<img class="rounded-circle" src="/user_images/<%= data.image%>" width="31" alt="Darren Elder">
								</span>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<div class="user-header">
									<div class="avatar avatar-sm">
										<img src="/user_images/<%= data.image%>" alt="User Image" class="avatar-img rounded-circle">
									</div>
									<div class="user-text">
										<h6><%= data.name%></h6>
										<p class="text-muted mb-0"><%= occupation%></p>
									</div>
								</div>
								<a class="dropdown-item" href="/Profile/<%= data.name%>">Profile</a>
								<a class="dropdown-item" href="/logout">Logout</a>
							</div>
						</li>
						<!-- /User Menu -->
						
					</ul>
				</nav>
			</header>
			<!-- /Header -->
			
			<!-- Home Banner -->
			<section class="section section-search">
				<div class="container-fluid">
					<div class="banner-wrapper">
						<div class="banner-header text-center">
							<h1>Search Doctor, Make an Appointment</h1>
							<p>Discover the best doctors, clinic & hospital the city nearest to you.</p>
						</div>
                         
						<!-- Search -->
						<div class="search-box">
							<form style="justify-content: center;" action="/search" method="POST">
								<div class="form-group search-info">
									<input type="text" class="form-control" name="info" placeholder="Search Doctors Name, Specialist, Dregree, Service">
									<span class="form-text">Ex : Dr.Ajaz Ali or Dental or Sugar Check up,BDS or MBBS etc</span>
								</div>
								<button type="submit" class="btn btn-primary search-btn"><i class="fas fa-search"></i> <span>Search</span></button>
							</form>
						</div>
						<!-- /Search -->
						
					</div>
				</div>
			</section>
			<!-- /Home Banner -->
			  
			<!-- Clinic and Specialities -->
			<section class="section section-specialities">
				<div class="container-fluid">
					<div class="section-header text-center">
						<h2>Clinic and Specialities</h2>
						<p class="sub-title"></p>
					</div>
					<div class="row justify-content-center">
						<div class="col-md-9">
							<!-- Slider -->
							<div class="specialities-slider slider">
							
								<!-- Slider Item -->
								<div class="speicality-item text-center">
									<div class="speicality-img">
										<img src="/assets/img/specialities/specialities-01.png" class="img-fluid" alt="Speciality">
										<span><i class="fa fa-circle" aria-hidden="true"></i></span>
									</div>
									<p>Urology</p>
								</div>	
								<!-- /Slider Item -->
								
								<!-- Slider Item -->
								<div class="speicality-item text-center">
									<div class="speicality-img">
										<img src="/assets/img/specialities/specialities-02.png" class="img-fluid" alt="Speciality">
										<span><i class="fa fa-circle" aria-hidden="true"></i></span>
									</div>
									<p>Neurology</p>	
								</div>							
								<!-- /Slider Item -->
								
								<!-- Slider Item -->
								<div class="speicality-item text-center">
									<div class="speicality-img">
										<img src="/assets/img/specialities/specialities-03.png" class="img-fluid" alt="Speciality">
										<span><i class="fa fa-circle" aria-hidden="true"></i></span>
									</div>	
									<p>Orthopedic</p>	
								</div>							
								<!-- /Slider Item -->
								
								<!-- Slider Item -->
								<div class="speicality-item text-center">
									<div class="speicality-img">
										<img src="/assets/img/specialities/specialities-04.png" class="img-fluid" alt="Speciality">
										<span><i class="fa fa-circle" aria-hidden="true"></i></span>
									</div>	
									<p>Cardiologist</p>	
								</div>							
								<!-- /Slider Item -->
								
								<!-- Slider Item -->
								<div class="speicality-item text-center">
									<div class="speicality-img">
										<img src="/assets/img/specialities/specialities-05.png" class="img-fluid" alt="Speciality">
										<span><i class="fa fa-circle" aria-hidden="true"></i></span>
									</div>	
									<p>Dentist</p>
								</div>							
								<!-- /Slider Item -->
								
							</div>
							<!-- /Slider -->
							
						</div>
					</div>
				</div>   
			</section>	 
			<!-- Clinic and Specialities -->
		  
			<!-- Popular Section -->
			<section class="section section-doctor">
				<div class="container-fluid">
				   <div class="row">
						<div class="col-lg-4">
							<div class="section-header ">
								<h2>Book Our Doctor</h2>
								<p>At your Quick service.</p>
							</div>
							<div class="about-content">
								<p>Doctors are often called life saviors. They help patients when they fall sick or get hurt and provide them with the best possible treatment. A doctor has a tough job. A doctor has to work around the clock with no holidays.</p>
								<p>A doctor is a great friend of the sick. He always speaks politely so that the patients feel comfortable. He never gets irritated and does his best for the sick.He shall always be ready to serve the sick patients, whenever needed, be it a day or at night.</p>
							</div>
						</div>
						<div class="col-lg-8">
							<div class="doctor-slider slider">
							<%read.forEach(function(row){ %>
								<!-- Doctor Widget -->
								<div class="profile-widget">
									<div class="doc-img">
										<a href="/doctor-profile/<%= row.name%>">
											<img class="img-fluid" alt="User Image" src="/user_images/<%= row.image%>">
										</a>
									</div>
									<div class="pro-content">
										<h3 class="title">
											<a href="/doctor-profile/<%= row.name%>"><%= row.name%></a> 
											<i class="fas fa-check-circle verified"></i>
										</h3>
										<p class="exp-year"><%= row.education%></p>
										<p class="speciality"><%= row.specialist%></p>
										<ul class="available-info">
											<li>
												<i class="fas fa-map-marker-alt"></i> <%= row.clinic_address%>
											</li>
											<li>
												<i class="far fa-clock"></i> Available on every day except Sunday, 
											</li>
											<li>
												<i class="far fa-money-bill-alt"></i> <%= row.price%>
												<i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
											</li>
										</ul>
										<div class="row row-sm">
											<div class="col-6">
												<a href="/doctor-profile/<%= row.name%>" class="btn view-btn">View Profile</a>
											</div>
											<div class="col-6">
												<a href="/booking/<%= row.name%>" class="btn book-btn">Book Now</a>
											</div>
										</div>
									</div>
								</div>
								<!-- /Doctor Widget -->
							<% }) %>
							</div>
						</div>
				   </div>
				</div>
			</section>
			<!-- /Popular Section -->
		   
		   <!-- Availabe Features -->
		   <section class="section section-features">
				<div class="container-fluid">
				   <div class="row">
						<div class="col-md-5 features-img">
							<img src="/assets/img/features/feature.png" class="img-fluid" alt="Feature">
						</div>
						<div class="col-md-7">
							<div class="section-header">	
								<h2 class="mt-2">Availabe Features in Our Clinic</h2>
								</div>	
							<div class="features-slider slider">
								<!-- Slider Item -->
								<div class="feature-item text-center">
									<img src="/assets/img/features/feature-01.jpg" class="img-fluid" alt="Feature">
									<p>Patient Ward</p>
								</div>
								<!-- /Slider Item -->
								
								<!-- Slider Item -->
								<div class="feature-item text-center">
									<img src="/assets/img/features/feature-02.jpg" class="img-fluid" alt="Feature">
									<p>Test Room</p>
								</div>
								<!-- /Slider Item -->
								
								<!-- Slider Item -->
								<div class="feature-item text-center">
									<img src="/assets/img/features/feature-03.jpg" class="img-fluid" alt="Feature">
									<p>ICU</p>
								</div>
								<!-- /Slider Item -->
								
								<!-- Slider Item -->
								<div class="feature-item text-center">
									<img src="/assets/img/features/feature-04.jpg" class="img-fluid" alt="Feature">
									<p>Laboratory</p>
								</div>
								<!-- /Slider Item -->
								
								<!-- Slider Item -->
								<div class="feature-item text-center">
									<img src="/assets/img/features/feature-05.jpg" class="img-fluid" alt="Feature">
									<p>Operation</p>
								</div>
								<!-- /Slider Item -->
								
								<!-- Slider Item -->
								<div class="feature-item text-center">
									<img src="/assets/img/features/feature-06.jpg" class="img-fluid" alt="Feature">
									<p>Medical</p>
								</div>
								<!-- /Slider Item -->
							</div>
						</div>
				   </div>
				</div>
			</section>		
			<!-- Availabe Features -->
			
			<!-- Footer -->
			<footer class="footer">
				
				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img style="width: 80%;" src="/assets/img/footer-logo.png" alt="logo">
									</div>
									<div class="footer-about-content">
										<div class="social-icon">
											<ul>
												<li>
													<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- /Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 style="margin-top: 20px;" class="footer-title">Lab Test</h2>
									<ul style="color: white;">
										<li>Labs in Lahore</li>
										<li>Labs in Karachi</li>
										<li>Labs in Islamabad</li>
										<li>Labs in Peshawar</li>
										<li>Labs in Quetta</li>
									</ul>
								</div>
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<ul style="color: white;">
										<li>Gynecologist in Lahore</li>
										<li>Gastroenterologist in Lahore</li>
										<li>Orthopedic in Lahore</li>
										<li>Neuro Physician in Lahore</li>
										<li>General Physician in Lahore</li>
										<li>Cardiologist in Lahore</li>
										<li>Psyschiatrist in Lahore</li>
										<li>Dentist in Lahore</li>
										<li>Eye Specialist in Lahore</li>
										<li>Child Specialist in Lahore</li>
										<li>ENT Specialist in Lahore</li>
										<li>Dermatologist in Lahore</li>
										<li>Urologist in Lahore</li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<ul style="color: white;">
										<li>Gynecologist in Karachi</li>
										<li>Gastroenterologist in Karachi</li>
										<li>Orthopedic in Karachi</li>
										<li>Neuro Physician in Karachi</li>
										<li>General Physician in Karachi</li>
										<li>Cardiologist in Karachi</li>
										<li>Psyschiatrist in Karachi</li>
										<li>Dentist in Karachi</li>
										<li>Eye Specialist in Karachi</li>
										<li>Child Specialist in Karachi</li>
										<li>ENT Specialist in Karachi</li>
										<li>Dermatologist in Karachi</li>
										<li>Urologist in Karachi</li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<ul style="color: white;">
										<li>Gynecologist in Islamabad</li>
										<li>Gastroenterologist in Islamabad</li>
										<li>Orthopedic in Islamabad</li>
										<li>Neuro Physician in Islamabad</li>
										<li>General Physician in Islamabad</li>
										<li>Cardiologist in Islamabad</li>
										<li>Psyschiatrist in Islamabad</li>
										<li>Dentist in Islamabad</li>
										<li>Eye Specialist in Islamabad</li>
										<li>Child Specialist in Islamabad</li>
										<li>ENT Specialist in Islamabad</li>
										<li>Dermatologist in Islamabad</li>
										<li>Urologist in Islamabad</li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container-fluid">
					
						<!-- Copyright -->
						<div class="copyright">
							<p style="text-align: center; color: white;">© 2021|All Rights Reserved By MediTalk</p>
						</div>
						<!-- /Copyright -->
						
					</div>
				</div>
				<!-- /Footer Bottom -->
				
			</footer>
			<!-- /Footer -->
		   
	   </div>
	   <!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="/assets/js/jquery.min.js"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="/assets/js/popper.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		
		<!-- Slick JS -->
		<script src="/assets/js/slick.js"></script>
		
		<!-- Custom JS -->
		<script src="/assets/js/script.js"></script>
		
	</body>

<!-- doccure/  30 Nov 2019 04:11:53 GMT -->
</html>