<!DOCTYPE html> 
<html lang="en">
	
<!-- doccure/appointments.html  30 Nov 2019 04:12:09 GMT -->
<head>
		<meta charset="utf-8">
		<title>MediTalk</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		
		<!-- Favicons -->
		<link href="/assets/img/favicon.png" rel="icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="/assets/css/style.css">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="/assets/js/html5shiv.min.js"></script>
			<script src="/assets/js/respond.min.js"></script>
		<![endif]-->
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
				<!-- Header -->
				<header class="header">
					<nav class="navbar navbar-expand-lg header-nav">
						<div class="navbar-header">
							<a id="mobile_btn" href="javascript:void(0);">
								<span class="bar-icon">
									<span></span>
									<span></span>
									<span></span>
								</span>
							</a>
							<a href="/" class="navbar-brand logo">
								<img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
							</a>
						</div>
						<div class="main-menu-wrapper">
							<div class="menu-header">
								<a href="/" class="menu-logo">
									<img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
								</a>
								<a id="menu_close" class="menu-close" href="javascript:void(0);">
									<i class="fas fa-times"></i>
								</a>
							</div>
							<ul class="main-nav">
								<li>
									<a href="/">Home</a>
								</li>
								<li>
									<a href="/doctor">Doctors</a>
								</li>
								<li id="log">
									<a href="/login">Login</a>
								</li>
							</ul>		 
						</div>
						<ul class="nav header-navbar-rht">
							
							<!-- User Menu -->
							<li class="nav-item dropdown has-arrow logged-item">
								<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
									<span class="user-img">
										<img class="rounded-circle" src="/user_images/<%= data.image%>" width="31" alt="Darren Elder">
									</span>
								</a>
								<div class="dropdown-menu dropdown-menu-right">
									<div class="user-header">
										<div class="avatar avatar-sm">
											<img src="/user_images/<%= data.image%>" alt="User Image" class="avatar-img rounded-circle">
										</div>
										<div class="user-text">
											<h6><%= data.name%></h6>
											<p class="text-muted mb-0"><%= occupation%></p>
										</div>
									</div>
									<a class="dropdown-item" href="/Profile/<%= data.name%>">Profile</a>
									<a class="dropdown-item" href="/logout">Logout</a>
								</div>
							</li>
							<!-- /User Menu -->
							
						</ul>
					</nav>
				</header>
				<!-- /Header -->
				
			<!-- /Header -->
			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="/">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Appointments</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Appointments</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
        <div class="container">
          <h2 style="text-align: center;" class="page-header">Patient Details</h2>
      
          <!-- Table hover + Table hover cell -->
          <div class="row">
          <div class="col-sm-5">
            <img style="width: 100%;" class="center" src="/user_images/<%= pay.patient_image%>" alt="">
          </div>
          <div class="col-sm-6">
          <table class="table">
            <tr>
              <td>Name</td>
              <td><%= pat.name%></td>
            </tr>
            <tr>
              <td>Email</td>
              <td><%= pat.email%></td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td><%= pat.phone_no%></td>
              </tr>
            <tr>
              <td>Gender</td>
              <td><%= pat.gender%></td>
            </tr>
            <tr>
              <td>Blood Group</td>
              <td><%= pat.blood_group%></td>
            </tr>
            <tr>
              <td>Age</td>
              <td><%= pat.age%></td>
            </tr>
            <tr>
              <td>Date Of Birth</td>
              <td><%= pat.date_of_birth%></td>
            </tr>
            <tr>
              <td>Appointment Date</td>
              <td><%= pay.date%></td>
            </tr>
            <tr>
              <td>Appointment Time</td>
              <td><%= pay.time%></td>
            </tr>
          </table>
        </div>
      </div>

	<div style="margin-top: 30px; margin-bottom: 30px; box-shadow: 0 0 15px gray; padding: 25px"" class="tab-pane show active" id="all-appointments">
		<h2 style="text-align: center;" class="page-header">Patient Medical History</h2>
		<div class="card card-table mb-0">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-hover table-center mb-0">
						<thead>
							<tr>
								<th>Disease Name</th>
								<th>Disease Duration</th>
								<th>Date</th>
							</tr>
						</thead>
						<tbody>
							<%datahis.forEach(function(h){ %>
							<tr>
								<td><%= h.disease_name%></td>
								<td><%= h.disease_duration%></td>
								<td><%= h.disease_date%></td>
							</tr>
							<% })%>
						</tbody>
					</table>		
				</div>
			</div>
		</div>
	</div>
      
        <div style="margin-top: 30px; margin-bottom: 30px; box-shadow: 0 0 15px gray; padding: 25px">
          <h3>Payment Details</h3>
          <div class="row">
            <div class="col-sm-5">
              <img style="width: 100%;" class="center" src="/reciepts/<%= pay.image%>" alt="">
            </div>
            <div class="col-sm-6">
              <table class="table">
                <tr>
                  <td>Account Type </td>
                  <td><%= pay.ac_type%></td>
                </tr>
                <tr>
                  <td>Trx</td>
                  <td><%= pay.trx%></td>
                </tr>
                <tr>
                  <td>Account No</td>
                  <td><%= pay.account_no%></td>
                </tr>
              </table>
            </div> 
          </div>
        </div>
      </div>

			</div>		
			<!-- /Page Content -->
   
			<!-- Footer -->
			<footer class="footer">
				
				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img style="width: 80%;" src="/assets/img/footer-logo.png" alt="logo">
									</div>
									<div class="footer-about-content">
										<div class="social-icon">
											<ul>
												<li>
													<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- /Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 style="margin-top: 20px;" class="footer-title">Lab Test</h2>
									<ul style="color: white;">
										<li>Labs in Lahore</li>
										<li>Labs in Karachi</li>
										<li>Labs in Islamabad</li>
										<li>Labs in Peshawar</li>
										<li>Labs in Quetta</li>
									</ul>
								</div>
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<ul style="color: white;">
										<li>Gynecologist in Lahore</li>
										<li>Gastroenterologist in Lahore</li>
										<li>Orthopedic in Lahore</li>
										<li>Neuro Physician in Lahore</li>
										<li>General Physician in Lahore</li>
										<li>Cardiologist in Lahore</li>
										<li>Psyschiatrist in Lahore</li>
										<li>Dentist in Lahore</li>
										<li>Eye Specialist in Lahore</li>
										<li>Child Specialist in Lahore</li>
										<li>ENT Specialist in Lahore</li>
										<li>Dermatologist in Lahore</li>
										<li>Urologist in Lahore</li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<ul style="color: white;">
										<li>Gynecologist in Karachi</li>
										<li>Gastroenterologist in Karachi</li>
										<li>Orthopedic in Karachi</li>
										<li>Neuro Physician in Karachi</li>
										<li>General Physician in Karachi</li>
										<li>Cardiologist in Karachi</li>
										<li>Psyschiatrist in Karachi</li>
										<li>Dentist in Karachi</li>
										<li>Eye Specialist in Karachi</li>
										<li>Child Specialist in Karachi</li>
										<li>ENT Specialist in Karachi</li>
										<li>Dermatologist in Karachi</li>
										<li>Urologist in Karachi</li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<ul style="color: white;">
										<li>Gynecologist in Islamabad</li>
										<li>Gastroenterologist in Islamabad</li>
										<li>Orthopedic in Islamabad</li>
										<li>Neuro Physician in Islamabad</li>
										<li>General Physician in Islamabad</li>
										<li>Cardiologist in Islamabad</li>
										<li>Psyschiatrist in Islamabad</li>
										<li>Dentist in Islamabad</li>
										<li>Eye Specialist in Islamabad</li>
										<li>Child Specialist in Islamabad</li>
										<li>ENT Specialist in Islamabad</li>
										<li>Dermatologist in Islamabad</li>
										<li>Urologist in Islamabad</li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container-fluid">
					
						<!-- Copyright -->
						<div class="copyright">
							<p style="text-align: center; color: white;">© 2021|All Rights Reserved By MediTalk</p>
						</div>
						<!-- /Copyright -->
						
					</div>
				</div>
				<!-- /Footer Bottom -->
				
			</footer>
			<!-- /Footer -->
		   
		</div>
		<!-- /Main Wrapper -->
		
		<!-- Appointment Details Modal -->
		<div class="modal fade custom-modal" id="appt_details">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Appointment Details</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<ul class="info-details">
							<li>
								<div class="details-header">
									<div class="row">
										<div class="col-md-6">
											<span class="title">#APT0001</span>
											<span class="text">21 Oct 2019 10:00 AM</span>
										</div>
										<div class="col-md-6">
											<div class="text-right">
												<button type="button" class="btn bg-success-light btn-sm" id="topup_status">Completed</button>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<span class="title">Status:</span>
								<span class="text">Completed</span>
							</li>
							<li>
								<span class="title">Confirm Date:</span>
								<span class="text">29 Jun 2019</span>
							</li>
							<li>
								<span class="title">Paid Amount</span>
								<span class="text">$450</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /Appointment Details Modal -->
	  
		<!-- jQuery -->
		<script src="/assets/js/jquery.min.js"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="/assets/js/popper.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
        <script src="/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>
		
		<!-- Custom JS -->
		<script src="/assets/js/script.js"></script>
		
	</body>
